<div class="row">   
    <div class="col-auto col-md-4 "> 

        <h5>Contact us</h5>

        
        <p>Eco-G Team
        <br />Apt 38 Capel Court, Capel Street<br/>Dublin, Co. Dublin, Ireland</p>

        <a href="mailto:huzaifa1999872@hotmail.com" class="btn btn-default"><img src="{{url_for('static', filename = 'Images/icons8-mail-50.png')}}" alt="Mail.png">&nbsp; Send us a mail</a>
    </div>
    <div class="col-auto col-md-4">

        <h5>Find us at</h5>
        <br>
        <a href="https://www.facebook.com/" class="face p-3"></a>
        <a href="mailto:huzaifa1999872@hotmail.com" class="gmail p-3"></a>
        <a href="https://twitter.com/" class="twit p-3"></a>
    </div>
    <div class=" col-auto col-md-4">

        <h5>Compatible devices</h5>
        <br>    
        <a href="#" class="android mx-auto p-3"><img src="{{url_for('static', filename = 'Images/icons8-android-40.png')}}" alt="Android.png"></a>
        <a href="#" class="ios mx-auto p-3"><img src="{{url_for('static', filename = 'Images/icons8-ios-logo-50.png')}}" alt="iOS.png"></a>
        <a href="#" class="window mx-auto p-3"><img src="{{url_for('static', filename = 'Images/icons8-windows-10-48.png')}}" alt="Windows.png"></a> 
    </div>
    <hr/>
    <p>&copy; Eco-G-Team {{ year }} - All rights reserved.</p>
</div>