<!--make sure the this bracket remains it for the layout in razor pages-->
{% extends "layout.html" %}

<!--This brakcet tells the pages that the body portion is available here-->
{% block content %}
<h1>About Us The Members</h1>
<div class="col-md">
    <p>
        <em>Huzaifa Baig:</em>
    </p>
    <p>
        The Back-End Developer, the one did most of the back end and converted all of the .html pages into Razor format using Jinja2.
    </p>
</div>
<div class="col-md">
    <p>
        <em>Nikhil Dhillo:</em>
    </p>
    <p>
        Front End Developer, Developed the theme and design of the site, created home, about and contact us pages.
    </p>
</div>
<div class="col-md">
    <p>
        <em>Eimeara Stapleton:</em>
    </p>
    <p>
        Front End Developer, Developed the remaining pages, added a few helper funtions and helped with error checking of app.py file.
    </p>
</div>


{% endblock %}
<!--End body-->