<!--make sure the this bracket remains it for the layout in razor pages-->
{% extends "layout.html" %}

<!--This brakcet tells the pages that the body portion is available here-->
{% block content %}

<div class="col-lg-8 margin">
    <div class="text-center">
        <img src="../static/Images/rug.jpg" height="200px" width='200px' class="rounded" alt="Rugs">
    </div>
    <h1>Recycled plastic Toothbrush</h1>
    <P>
        Recycled Plastic ToothBrush has many uses-
        <ol type="1">
            <li>
                It offers you a nice home decor
            </li>
            <li>
                It looks after the majority of your house decorum needs
            </li>
            <li>
                It provides a nice atomosphere in your living room.
            </li>
            <li>
                Is comfortable.
            </li>
            <li>
                These are available with a limit of 12 Euros
            </li>
            <li>
                In terms of Recycled products, the value of your property is maximised.
            </li>
        </ol>
    </P>
    <hr/>
    <a href={{ url_for('contact') }} class="nav-link">To purchase CLICK HERE</a>
</div>


{% endblock %}
<!--End body-->